body{
    background-color:whitesmoke;
    margin:0px;
}
h1{
    font-family: dynapuff;
    color: #25344f;
    font-size: xx-large;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
